{% extends 'base.html' %}
{% block content %}

<div class="content" style="padding-left: 50px; padding-right: 50px;">
    
    <div class="page-header-title">
        <h3 class="page-title">Facturas</h3>
    </div>
    

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#d31c3d">
                            <th font color="red">ID</th>
                            <th>Nombre</th>
                            <th>Documento Identidad</th>
                            <th>Monto Pagado</th>
                            <th>Metodo</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for factura in factura_list %}
                        <tr>
                            <td>{{ factura.id }}</td>
                            <td>{{ factura.nombre }}</td>
                            <td>{{ factura.documento_identidad }}</td>
                            <td>{{ factura.monto }}</td>
                            <td>{{ factura.metodo }}</td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    
                </div>
            </div>


            <br>
            <div style="text-align:left;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/facturacreate' " style="text-align:center;">
                        Crear Nueva Factura +
                </button>
                
                <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}